{% extends 'base.html.twig' %}
{% block body %}
      {{"Liste des produits informatiques"|upper}}
      <table class="table table-striped">
            <tr>
                <th>Titre</th>
                <th>resume</th>
                <th>date_publication</th>
                <th>auteur</th>
                <th>etat</th>
            </tr>
                {% for key in  articles %}
                {% if key.auteur==nom %}
                <tr>
                <td>{{ key.titre }}</td>
                <td>{{ key.resume }}</td>
                <td>{{ key.date_publication|date('d/m/Y') }}</td>
                <td>{{ key.auteur }}</td>
                    <td>{{key.date_publication|date('d/m/y') < "-2 years"|date('d/m/y')?"non archivé":"archivé"}}</td>
            </tr>
                {% endif %}
              {% endfor %}
            
     </table>     
 {% endblock %}